.center {
  text-align:center;
}

.section {
  border-top: -4em;
}

.btn-xlarge {
    padding: 12px 12px;
    margin: 4px 4px 4px 4px;
    font-size: 24px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.about-text {
    font-size: 17.5px;
}

.about-header {
    font-size: 26px;
}

.about-about {
    font-size: 14px
}

code {
    margin-left: 4px;
    margin-right: 4px;
}

.captcha {
    display:none;
}
