@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 14pt;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    height: 100%;
}

a {
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: inherit;
}

a:before {
    -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
    -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
    -ms-transition: color 0.2s ease, text-shadow 0.2s ease;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

a:hover {
    color: #ff7496;
}

strong, b {
    color: #313f47;
}
